*{margin:0; padding: 0;}

#nom{

}

#quadrat{
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 250px;
  background-color: black;
}

#punts{

}

button#ranquing{
  display: block;
  position: relative;
  width: 100px;
  height: 50px;
  left: 85%;
  top: 5px;
  background-color: black;
  cursor: pointer;
}

button#ranquing:hover{
  color: red;
  transition: all 200ms ease;
}

button#enviar{

}
