body, *{margin:0; padding:0;  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
body{
  background-color: lightblue;
}
div#punts{
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10%;
  width:200px;
  height: 75px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px white;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family:monospace;
}
input#puntuacio{
  display: none;
}

#quadrat{
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width:200px;
  height: 200px;
  border: 5px solid black;
  box-shadow: 0px 0px 5px 1px white;
  background-color: red;
  cursor: pointer;
}

#nom{
  display: block;
  position: absolute;
  width: 125px;
  height: 25px;
  left: 78.8%;
  top: 90%;
  box-shadow: 0px 0px 5px 1px white;
}

#rango{
  display: block;
  position: absolute;
  background-color: transparent;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 75%;
  transform: translate(-50,-50);
}

button#ranquing{
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 8%;
  font-family: monospace;
  left: 92%;
  z-index: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px 20px;
  min-width: 120px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #fdfdfd;
  outline: none;
  box-shadow: 2px 5px 20px 5px #030303;
  transition: all 300ms ease;
  border-radius: 10px;
}

button#ranquing:hover{
  background-color: cyan;
}

button#ranquing:active{
  top:calc(8% + 3px);
  left:calc(92% + 3px);
  box-shadow: 2px 2px 0px #030303;
  transition: all 200ms ease;
}

#nom{display: block;
position: absolute;
transform: translate(-50%, -50%);
width: 150px;
height: 20px;
left: 92%;
top: 83%;
border: 1px solid black;
box-shadow: 1px 1px 5px 1px;
border-radius: 5px;
font-family: monospace;

}

#enviar{
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 92%;
  font-family: monospace;
  left: 92%;
  z-index: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px 20px;
  min-width: 120px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #fdfdfd;
  outline: none;
  box-shadow: 2px 5px 20px 5px #030303;
  transition: all 300ms ease;
  border-radius: 10px;
}

#enviar:active{
  top:calc(92% + 3px);
  left:calc(92% + 3px);
  box-shadow: 2px 2px 0px #030303;
  transition: all 200ms ease;
}

div#x2{
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 20%;
  top: 10%;
  width:100px;
  height: 20px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: red;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px white;
}

input#button2{
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  z-index: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px 20px;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #fdfdfd;
  outline: none;
  box-shadow: 5px 5px 10px #030303;
  transition: all 300ms ease;
  border-radius: 10px;
  font-family: monospace;
}

input#button2:active{box-shadow: 2px 2px 0px #030303;
top:calc(50% + 3px);
left:calc(50% + 3px);}
